<h1>ユーザ一覧</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>ユーザー名</th>
      <th>メールアドレス</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><p><%= user.name %></p></td>
        <td><p><%= user.email %></p></td>
      </tr>
    <% end %>
  </tbody>
</table>