<div class="container" style="margin-bottom:60px">
  <%= render partial: 'profile', locals: { user: @user } %>
  <%= render partial: 'status', locals: { user: @user } %>
  <div class="tabs">
    <input id="all" type="radio" name="tab_item" checked>
    <label class="tab_item" for="all">投稿</label>
    <input id="programming" type="radio" name="tab_item">
    <label class="tab_item" for="programming">いいね</label>
    <div class="tab_content" id="all_content">
      <div class="tab_content_description">
        <%= render partial: 'posts/posts', locals: { posts: @myposts } %>
      </div>
    </div>
    <div class="tab_content" id="programming_content">
      <div class="tab_content_description">
        <%= render partial: 'posts/posts', locals: { posts: @like_posts } %>
      </div>
    </div>
  </div>
</div>