<% if flash[:error_messages] %>
  <div class="error-message">
    <ul>
      <% flash[:error_messages].each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>