<% if @current_user %>
    <%# TODO:「/home」にリダイレクトする %>
    <%= render template: "/posts/index" %>
<% else %>
    <div class="back-image-capsules">
    <%= render partial: 'users/login_form' %>
    </div>
<% end %>