<div class="container--sm bottom-space">
  <%= render partial: 'posts/posts', locals: { posts: @following_posts } %>
  <%= link_to (content_tag(:i, '', class:"fas fa-plus-circle", style:"font-size:50px")), new_post_path, class:"btn-add-tweet" %>
</div>