.icon-field {
    width:100px;
    height:100px;
    border-radius:50%;
    border-radius:50%;
    overflow:hidden;
    border:1px solid black;
    display:inline-block;
    position:relative;
}

.icon-user-inner {
  height:100px;
}

#account-name {
  font-size: 20px;
  margin-bottom: 0;
}

.uniqueid {
  color: grey;
}

.icon-photo {
  position: absolute;
  top: 43px;
  left: 40px
}