.icon-post-field {
    width:50px;
    height:50px;
    border-radius:50%;
    border-radius:50%;
    overflow:hidden;
    border:1px solid black;
    display:inline-block;
    position:relative;
}

.icon-profile-field {
  width:100px;
  height:100px;
  border-radius:50%;
  border-radius:50%;
  overflow:hidden;
  border:1px solid black;
  display:inline-block;
  position:relative;
}

.icon-user-inner {
  height:50px;
}

.icon-profile-inner {
  height: 100px;
}

.profile-detail {
  float: left;
}

#account-name {
  font-size: 20px;
  margin-bottom: 0;
}

.uniqueid {
  color: grey;
}

.icon-photo {
  position: absolute;
  top: 43px;
  left: 40px
}

/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto;}
/*タブのスタイル*/
.tab_item {
  width: calc(100%/2);
  height: 50px;
  border-bottom: 3px solid #5ab4bd;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
  margin: 0;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  clear: both;
  overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #5ab4bd;
  color: #fff;
}

.profile-edit {
  display: inline-block;
  border: 1px solid black;
  color: black;
  font-weight: bold;
  width:100%;
  height:30px;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
}

.profile-edit a:link {
  color:pink;
  text-decoration: none;
}

.profile-outline {
  overflow: hidden;
  margin-bottom: 10px;
}