<div class="btn-group btn-group-lg footer-menu" role="group" aria-label="">
    <%= link_to '', root_path, class:"btn btn-secondary btn-footer fas fa-home" %>
    <%= link_to '', mypage_path, class:"btn btn-secondary btn-footer fas fa-user-circle" %>
    <%= link_to '', users_index_path, class:"btn btn-secondary btn-footer fas fa-user-shield" %>
    <%= link_to '', root_path, class:"btn btn-secondary btn-footer fas fa-ellipsis-h" %>
</div>